.navbar{
  background-color: rgb(200, 235, 249) !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.background{
  background-color: rgb(200, 235, 249);
}
/* AdComponent.css */

.ad-container {
  display: flex;
  justify-content: space-between;
}

.image-container img {
  width: 100%;
  height: auto;
}

.text-container {
  padding: 20px;
}

.text-container h1,
.text-container h2 {
  margin: 0;
}

.text-container button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
